/* style for the body */
body {
  min-height: 100vh;
  background-image: url(https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
section {
  margin-top: 170px;
}
/* styling for the header */
nav.navnav {
  background-color: #555555;
  color: #ececec;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: solid 2px maroon;
}

div.cardright {
  background-color: rgb(255, 117, 214);
  margin: 0 auto;
  margin-bottom: 20px;
}

section {
  text-align: center;
  margin: 0 auto;
}

a.photos {
  font-family: "Dancing Script", cursive;
  color: #ececec;
  font-size: 30px;
  text-shadow: 4px 4px 6px white;
}

#home {
  font-family: "Fredericka the Great", cursive;
  color: white;
  text-shadow: 4px 4px 6px maroon;
  font-size: 45px;
  padding: 0px;
}

a.letter {
  font-family: "Dancing Script", cursive;
  color: #ececec;
  font-size: 30px;
  text-shadow: 4px 4px 6px white;
}

/* Style for the footer */
.copyright {
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  font-size: 10px;
  color: lightslategray;
  text-align: center;
  border-top-style: solid;
  border-color: maroon;
  background-color: whitesmoke;
  height: 40px;
}

.cText {
  margin-top: 20px;
  font-weight: bold;
}
#letter{
    font-size: large;
    font-family: "Dancing Script", cursive;
    text-align: left;
    border: 2px solid maroon;
    border-radius: 10px;
    width: 75%;
    background-color: rgb(255, 233, 204);
    margin-bottom: 20px;
}
.letterformat{
    margin: 10px;
}
.indent{
    margin-left: 10px;
    margin-right: 10px;
    text-indent: 40px;
}

@media only screen and (max-width: 778px) {
  a.photos {
    font-family: "Dancing Script", cursive;
    color: #ececec;
    font-size: 25px;
    text-shadow: 4px 4px 6px white;
  }
  .height500{
    height: 600px;
  }
  .indent-sm{
    text-align: center;
  }
  #home {
    font-size: 40px;
    width: 100%;
    font-family: "Fredericka the Great", cursive;
    color: white;
    text-shadow: 4px 4px 6px maroon;
    padding: 0px;
  }

  a.letter {
    font-family: "Dancing Script", cursive;
    color: #ececec;
    font-size: 25px;
    text-shadow: 4px 4px 6px white;
  }
  .navlink {
    text-align: center;
  }
}
