/* style for the body */
body {
  min-height: 100vh;
  background-image: url(https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
section {
  margin-top: 170px;
}
/* styling for the header */
div.navnav {
  background-color: #555555;
  color: #ececec;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: solid 2px maroon;
}

.cardright {
  margin: 0 auto;
  margin-bottom: 20px;
}

section {
  text-align: center;
  margin: 0 auto;
}

#photos {
  font-family: "Dancing Script", cursive;
  color: #ececec;
  font-size: 30px;
  text-shadow: 4px 4px 6px white;
}

#home {
  font-family: "Fredericka the Great", cursive;
  color: white;
  text-shadow: 4px 4px 6px maroon;
  font-size: 45px;
  padding: 0px;
}

#letter {
  font-family: "Dancing Script", cursive;
  color: #ececec;
  font-size: 30px;
  text-shadow: 4px 4px 6px white;
}

/* Style for the footer */
.copyright {
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  font-size: 10px;
  color: lightslategray;
  text-align: center;
  border-top-style: solid;
  border-color: maroon;
  background-color: whitesmoke;
  height: 40px;
}

.cText {
  margin-top: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 778px) {
  div.navnav {
    text-align: center;
  }
  #photos {
    font-family: "Dancing Script", cursive;
    color: #ececec;
    font-size: 30px;
    text-shadow: 4px 4px 6px white;
  }

  #home {
    width: 100%;
    font-family: "Fredericka the Great", cursive;
    color: white;
    text-shadow: 4px 4px 6px maroon;
    padding: 0px;
  }

  #letter {
    font-family: "Dancing Script", cursive;
    color: #ececec;
    font-size: 30px;
    text-shadow: 4px 4px 6px white;
  }
  .navlink {
    text-align: center;
  }
}
